.bg-admin {
    background-color: #6ebfb4;
}
.nav-link{
    border-radius: 20px;
}
.nav-link:hover {
    background-color: #5aa9a4;
    color: #000 !important;
}
body{
    font-family:Poppins,Arial,Helvetica,sans-serif;
    margin:0;
    padding:0;
    background-color:#90abaf
} 
.container-fluid{
    padding:20px
}
.ul-items{
    list-style-type: none;
    padding-left: 20px;
}
.ul-items li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}